@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  font-size: 24px;
}

table {
  text-align: center;
}

th {
  cursor: pointer;
  padding: 0 50px;
  border: 1px solid black;
}

th:hover {
  background: green;
}

td {
  border: 1px solid green;
}
